body {
    overflow-x: hidden;
}

.left-item {
    margin-left: 20%;
}

.nav-btn {
    min-width: 150px;
    text-align: center;
}

a.nav-link {
    position: relative;
    padding-bottom: 0;
}

a.nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 5;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.nav-link:hover::before {
    visibility: visible;
    width: 80%;
}

a.nav-link:hover:after {
    visibility: visible;
    width: 60%;
}

a.nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 8px;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.display {
    color: white;
    background-image: url(../Images/header.jpg);
    background-size: cover;
    background-position: center;
}

.display-text {
    font-family: 'FontAwesome';
}

.display-heading {
    font-family: ui-sans-serif;
}

.display .container button {
    background-color: #4caf50;
    border-color: #4caf50;
}

.bg-line-1 {
    width: 100px;
    height: 5px;
    margin: 0 auto;
    background-color: rgb(39, 39, 38);
}

.bg-line-2 {
    width: 60px;
    height: 4px;
    background-color: rgb(92 187 45);
}

.bg-line-3 {
    width: 100px;
    height: 2px;
    margin: 0 auto;
    background-color: rgb(62, 177, 96);
}

.bg-line-4 {
    width: 100px;
    height: 5px;
    margin: 0 auto;
    background-color: white;
}

.bg-line-5 {
    width: 200px;
    height: 4px;
    margin: 0 auto;
    background-color: rgb(39, 39, 38);
}

.companies-logo {
    background-color: rgb(245, 245, 245);
}

.companies-logo img {
    width: 100px;
    height: 50px;
    margin-left: 30px;
}

.companies-logo img:first-child {
    margin-left: 0px;
}

.sub-1 button {
    background-color: #141c46;
    border-color: #141c46;
}

.body-part-2 .row img {
    max-width: 560px;
}

.report-li li {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(14, 46, 61);
}

.report-li li span {
    display: inline-table;
    vertical-align: middle;
    font-size: 15px;
    color: black;
    font-family: initial;
}

.report-text h3 {
    font-weight: bold;
    font-family: inherit;
}

.report-text .sub-heading {
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
}

.icon {
    margin-right: 15px;
    margin-top: -70px;
}

.services .icon img {
    max-width: 50px;
}

.media-body .heading {
    font-size: 20px;
}

.features {
    background-color: rgb(228, 228, 228);
    padding: 50px 100px;
}

.feature-content img {
    margin-right: 10px;
    margin-top: 10px;
    /* max-width: 40px; */
    max-height: 40px;
}

.feature-content:not(:last-child) {
    margin-right: 15px;
}

.feature-content h4 {
    /* font-size: 4vw; */
    font-weight: bold;
    font-family: inherit;
    color: rgb(15, 39, 87);
}

.feature-content p {
    /* font-size: 1.5vw; */
    font-weight: bold;
    font-family: serif;
}

.facility-content .row .facility-item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: serif;
    box-shadow: inherit;
    background-color: rgb(231, 247, 231);
    box-shadow: 0px 4px 8px 2px #888888;
    text-align: center;
}

.facilities .row .col .desktop {
    /* max-width: 600px; */
    min-width: 250px;
}

.img-thumbnail,
.card {
    border: none;
    background: none;
    margin: 0 auto;
}

.feedback .col .img-thumbnail {
    margin-top: -50px;
}

.review {
    background-color: rgb(231, 247, 231);
    box-shadow: 0px 4px 8px 2px #888888;
    padding: 3rem;
    padding-top: 0;
}

.review img {
    max-width: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bottom-0 {
    bottom: 20px;
    left: 18%;
}

.header-type {
    background-color: rgb(231, 247, 231);
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 0;
    max-height: 50px;
}

.header-name {
    height: 100px;
}

.content-type,
.header-name {
    padding: 10px 0px;
    margin-bottom: 0;
}

.content-col {
    border: 1px solid black;
    border-top: 5px solid rgb(14, 14, 63);
    max-width: 200px;
}

.btn-price-table {
    background-color: rgb(14, 14, 63);
    color: white;
    font-weight: bold;
}

.content-col:not(:last-child) {
    margin-right: 10px;
}

.header-col {
    max-width: 280px;
}

.content-li {
    padding-left: 15px;
    font-family: none;
}

.banner {
    background-color: rgb(23 31 74);
    color: white;
}

.banner .card {
    background-color: rgb(231, 247, 231);
}

@media (min-width: 1001px) {
    .body-part-2 .row img {
        max-width: 560px;
    }
    .facilities .row img {
        max-width: 460px;
    }
    /*1rem = 16px*/
}

@media (max-width: 1000px) {
    .header-type,
    .header-name {
        font-size: 10px;
    }
    .header-name h4,
    .header-name h5 {
        font-size: 15px;
    }
    .body-part-2 .row img {
        max-width: 400px;
    }
    .facilities .row img {
        max-width: 400px;
    }
    /*1rem = 16px*/
}

@media (max-width: 850px) {
    .body-part-2 .row img {
        max-width: 350px;
    }
    .facilities .row img {
        max-width: 360px;
    }
}

@media (max-width: 544px) {
    .header-type,
    .header-name,
    .content-type {
        font-size: 15px;
    }
    .header-name h4,
    .header-name h5 {
        font-size: 20px;
    }
    .content-type button {
        font-size: 15px;
    }
    .body-part-2 .row img {
        max-width: 300px;
    }
    .left-item {
        margin-left: 0px;
    }
    a.nav-link:hover::before {
        visibility: visible;
        width: 30%;
    }
    a.nav-link:hover:after {
        visibility: visible;
        width: 20%;
    }
    .facilities .row img {
        max-width: 280px;
    }
}

@media (max-width: 360px) {
    .body-part-2 .row img {
        max-width: 250px;
    }
    .facilities .row img {
        max-width: 250px;
    }
    /*1rem = 16px*/
}


/* footer */

footer {
    background-color: #182f59;
    padding: 30px 0 0;
    color: #fff
}

.footer-box {
    margin-top: 20px
}

.footer-box h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-size: 20px
}

.white-line {
    width: 100%;
    height: 1px;
    background-color: #fff
}

.line1 {
    width: 85%
}

.footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-box ul li {
    margin-top: 15px;
    transition: .5s
}

.footer-box ul li:hover {
    padding-left: 5px
}

.footer-box ul li a {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: #fff
}

.footer-text {
    color: #000;
    margin-bottom: 0;
    /* display: flex; */
    align-items: center
}

.footer-bottom-sm {
    display: none
}

.footer-down {
    background-color: #f4f4f2;
    padding: 40px 0;
    margin-top: 25px
}

.footer-down-box {
    width: 100%;
    /* display: flex; */
    justify-content: space-between
}

.footer-bottom a img {
    border-radius: 50%;
    border: 1px solid #182f59;
    background-color: #182f59;
    height: 44px;
    width: auto;
    margin-left: 10px;
    margin-top: 2px;
    transition: .1s
}

.footer-bottom a img:hover {
    margin-top: 0
}

.copyright-btn {
    color: #000;
    font-family: poppins, sans-serif;
    padding: 1px 0 0 2px;
    border-radius: 20px
}

.copyright-btn i {
    color: #fff;
    background-color: #182f59;
    padding: 7px 20px;
    border-radius: 18px;
    margin-left: 20px;
    transition: .5s;
    border: 2px solid #182f59
}

.copyright-btn:hover {
    color: #000;
    text-decoration: none
}

.copyright-btn:hover i {
    background-color: transparent;
    color: #182f59
}

.copyright-btn:focus {
    border: 2px solid #182f59
}

.footer-box i {
    display: none
}

.footer-btn {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 80px 3px 5px;
    border-radius: 20px;
}

.footer-btn::before {
    content: "\f061";
    position: absolute;
    font-family: fontAwesome;
    top: -1px;
    right: -1px;
    border: 2px solid #182f59;
    background-color: #182f59;
    color: #fff;
    padding: 1px 17px;
    border-radius: 20px;
    transition: .5s;
}

@media screen and (max-width:765px) {
    .footer-box {
        position: relative
    }
    .footer-box i {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 22px;
        transition: .5s
    }
    .caret-down i {
        transform: rotate(180deg);
        transition: .5s
    }
    .footer-box ul {
        display: none
    }
    .expand-box ul {
        display: block;
        padding-left: 10px
    }
    .white-line {
        display: none
    }
}

@media screen and (max-width:480px) {
    footer {
        padding-top: 20px
    }
    .footer-box {
        margin-top: 15px
    }
    .footer-bottom {
        justify-content: flex-start
    }
    .footer-bottom a img {
        margin: 10px
    }
    .footer-down {
        padding: 20px 0
    }
    .copyright-btn {
        margin-bottom: 20px
    }
    .footer-down-box {
        flex-direction: column
    }
    .footer-box ul li {
        margin-top: 8px
    }
    .footer-bottom-lg {
        display: none
    }
    .footer-bottom-sm {
        display: flex;
        justify-content: center;
        margin-top: 0
    }
}

@media screen and (max-width:380px) {
    .line1 {
        width: 100%
    }
}

.about-banner {
    width: 100%;
    background-image: url(../tfimg/about/Header.png);
    background-size: cover;
    background-position: top;
    padding: 360px 0 290px
}

.about-btext {
    color: #fff;
    font-family: roboto slab, serif;
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 4px #000
}